<a href="https://colab.research.google.com/github/Jiraporn-klobrat/multivariate-/blob/main/Chapter_6_Cluster_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####จุดมุ่งหมายของการทำ Cluster Analysis คือ การจัดกลุ่มข้อมูล โดยดูจาก attributes ของข้อมูล

In [1]:
import pandas as pd

In [2]:
example_df = pd.read_csv('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/iris.csv')      #นำเข้าข้อมูล
example_df

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

#### ตัด column สุดท้าย ที่เป็น class ของข้อมูลออก

In [23]:
example_df_drop = example_df.iloc[:,:-1]
example_df_drop

     SepalLength  SepalWidth  PetalLength
0            5.1         3.5          1.4
1            4.9         3.0          1.4
2            4.7         3.2          1.3
3            4.6         3.1          1.5
4            5.0         3.6          1.4
..           ...         ...          ...
145          6.7         3.0          5.2
146          6.3         2.5          5.0
147          6.5         3.0          5.2
148          6.2         3.4          5.4
149          5.9         3.0          5.1

[150 rows x 3 columns]

### Kmean

#### Import

In [20]:
from sklearn.cluster import KMeans

#### Define

In [24]:
kmeans = KMeans(random_state=2021)

#### Fit-Transform

คำนวณหาจุด ccluter centers ของข้อมูล example_df_drop ด้วยวิธี K-means clustering

In [25]:
kmeans.fit(example_df_drop)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2021, tol=0.0001, verbose=0)

แสดงจุด cluster centers ที่คำนวณออกมาได้

In [26]:
kmeans.cluster_centers_

array([[5.25555556, 3.67037037, 1.5037037 ],
       [6.54166667, 3.05      , 5.52916667],
       [5.62083333, 2.69166667, 4.075     ],
       [7.475     , 3.125     , 6.3       ],
       [6.55714286, 3.05      , 4.6       ],
       [6.03636364, 2.72727273, 4.86363636],
       [4.71304348, 3.12173913, 1.4173913 ],
       [5.        , 2.3       , 3.275     ]])

ทำการจัดกลุ่มของ Data

In [27]:
y = kmeans.predict(example_df_drop)
y

array([0, 6, 6, 6, 0, 0, 6, 0, 6, 6, 0, 6, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0,
       6, 0, 6, 6, 0, 0, 0, 6, 6, 0, 0, 0, 6, 6, 0, 6, 6, 0, 0, 6, 6, 0,
       0, 6, 0, 6, 0, 6, 4, 4, 4, 2, 4, 2, 4, 7, 4, 2, 7, 2, 2, 5, 2, 4,
       2, 2, 5, 2, 5, 2, 5, 5, 4, 4, 4, 4, 5, 2, 2, 2, 2, 5, 2, 4, 4, 5,
       2, 2, 2, 5, 2, 7, 2, 2, 2, 4, 7, 2, 1, 5, 3, 1, 1, 3, 2, 3, 1, 3,
       1, 1, 1, 5, 5, 1, 1, 3, 3, 5, 1, 5, 3, 5, 1, 3, 5, 5, 1, 3, 3, 3,
       1, 5, 1, 3, 1, 1, 5, 1, 1, 1, 5, 1, 1, 1, 5, 1, 1, 5], dtype=int32)

Quiz 6 ทำ PCA ข้อมูล example_df_drop แล้ววาดกราฟ scatter plot โดยใส่สีตามผลการทำ kmeans clustering แล้วนำมาเทียบกับกราฟ PCA-scatter ของข้อมูลจริง

In [ ]:
import pandas as pd

In [31]:
from sklearn.decomposition import PCA